[TELEGRAM]
API_TOKEN=replace-with-telegram-bot-token
DEV_TG_ID=123456789
WEB_APP_URI=https://re-arma-bot.ru/

[DATABASE]
PSQL_PATH=postgres://arma_stat_counter:replace-with-db-password@127.0.0.1:5432/arma_stat_counter

[OCAPS]
OCAPS_DOWNLOAD=True
OCAPS_PATH=/var/lib/arma-stat-counter/ocaps
OCAPS_PLY_VEHICLES_SPREAD_COORDS=3

[LOGS]
SEND_LOGS_TO_DEV=True
LOGS_PATH=/var/log/arma-stat-counter

[WEB_APP]
WEB_APP_INIT_DATA_MAX_AGE_SECONDS=86400
WEB_APP_DEV_TELEGRAM_ID=
